<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Agentes</title>

<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="contenido">

<h1>Agentes</h1>

<form>

<input type="text" placeholder="Nombre del agente"><br><br>

<input type="text" placeholder="Documento"><br><br>

<input type="text" placeholder="Teléfono"><br><br>

<input type="email" placeholder="Correo"><br><br>

<input type="text" placeholder="Campaña"><br><br>

<button>Guardar Agente</button>

</form>

<br><br>

<table border="1" width="100%">
<tr>
<th>Nombre</th>
<th>Documento</th>
<th>Teléfono</th>
<th>Correo</th>
<th>Campaña</th>
<th>Acciones</th>
</tr>

<tr>
<td>María López</td>
<td>123456789</td>
<td>3001112233</td>
<td>maria@gmail.com</td>
<td>Ventas</td>
<td>Editar | Eliminar</td>
</tr>

</table>

</div>

</body>
</html>