<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="contenido">
    <h1>Clientes</h1>

    <form>
        <input type="text" placeholder="Nombre completo">
        <input type="text" placeholder="Teléfono">
        <input type="email" placeholder="Correo">
        <input type="text" placeholder="Ciudad">

        <button type="submit">Guardar Cliente</button>
    </form>

    <br>

    <table border="1" width="100%">
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Ciudad</th>
            <th>Acciones</th>
        </tr>

        <tr>
            <td>Juan Pérez</td>
            <td>3001234567</td>
            <td>juan@gmail.com</td>
            <td>Bogotá</td>
            <td>Editar | Eliminar</td>
        </tr>

    </table>

</div>

</body>
</html>